#top a {
    text-transform: uppercase;
    color: white;
    margin-right: 25px;
}

#top a:hover {
    background-color: white;
    color: black;
}

#pdf {
    width: 50px;
    height: 50px;
}

nav {
    background-color: #2c3e50; 
}

.myName h1 {
    font-size: 3.5em;
    text-transform: uppercase;
}


.description {
    text-align: center;
    height: 500px;
   /* background-image: url("../images/test.jpg");
    color: white;
    background-repeat: no-repeat;
    background-size: cover; */   
}


.description img {
    height: 320px;
    width: 250px;
    overflow: hidden;
    -webkit-border-radius: 350px;
    -moz-border-radius: 350px;
    border-radius: 350px;
    margin-top: 35px;
    
        
}

.myName {
    margin-top: 100px;
    
}

.aboutMe {
    min-height: 250px;
    display: flex;
    padding-top: 65px;
           
}

.whoIam {
    text-align: center;
}

.presentation {
  color: white;
  background-color: #2c3e50;
}

.presentation p {
    font-size: 1.3em;
}

.cv {
    line-height: 96px;
    text-align: center;
}

.cv a {
    color: white;
    font-weight: bold;
}

.educationS1 {
    margin-top: 80px;
}

.educationS2 {
    margin-top: 25px;
}

.experiencesS1 {
    margin-top: 60px;
}

.logoImg {
    width: 75px;
    height: 75px;
}

#logoEsiir {
    width: 65px;
    height: 55px;
    margin-top: 5px;
}

.experiencesS2 {
    margin-top: 25px;
}

.experiencesS3 {
    margin-top: 25px;
}

.experiencesS4 {
    margin-top: 25px;
}

.experiencesS5 {
    margin-top: 25px;
}

.educationTitle {
    color: #2c3e50;
    font-weight: bold;
}

#progress {
    font-style: italic;
}

.date {
    text-align: right;
}

hr {
    border-top: #cccccc solid 1px;
    margin-top: 60px;
}

#competencesH1 h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2.8em;
}

#iconCV {
    width: 100px;
    height: 100px;
}
.competences {
    text-align: center;
    height: auto;
    
}

.competences h2 {
    text-decoration: underline;
}

.frontEnd {
    margin-top: 40px;
    border-right: solid 1px #cccccc;
    color: #2c3e50;
}



.frontEnd img {
    margin-top: 50px;
    margin-right: 30px;
}

#logoJs {
    height: 170px;
    width: 250px;
    margin-left: -70px;
}

.backEnd {
    margin-top: 40px;
    color: #2c3e50;
}

.backEnd img {
    margin-top: 50px;
    margin-right: 30px;
}
.competencesLogo {
    
    height: 80px;
}

.logoWidth {
   
    height: 80px;
}

.FormContact {
    margin-top: 50px;
    border-top: solid 1px #cccccc;
}

#contactH2 h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 2.8em;
}

.informations {
    margin-top: 60px;
}

footer {
    background-color: #2c3e50;
    height: 50px;
    width: 100%;
    margin-top: 50px;
}

#Copyright {
    line-height: 50px;
    color: white;
    margin-left: 25px;
}

.logoInfos {
    width: 75px;
    height: 75px;
}

.tel {
    margin-top: 80px;
    margin-left: 30px;
}

.tel h6 {
    color: #2c3e50;
    font-weight: bold;
}

.tel img {
    margin-top: 50px;
    margin-right: 20px;
}

#btnSend {
    background-color: transparent;
    color: black;
    border-radius: 6px;
}
#btnSend:hover {
    background-color: #2c3e50;
    color: white;
}


@media screen and (max-width: 400px){
    .description{
        height: 330px;
    }
    .description img {
        height: 150px;
        width: 120px;
        overflow: hidden;
        -webkit-border-radius: 85px;
        -moz-border-radius: 85px;
        border-radius: 85px;
        margin-top: 20px;
    }
    .myName {
        margin-top: 50px;
    }
    .myName h1 {
        font-size: 3em;
    }
    .presentation p {
        font-size: 1em;
    }
    .aboutMe {
        flex-wrap: wrap;
        height: auto;
        padding-top: 30px;
        margin-top: 40px;
    }
    .aboutMe h5 {
        margin-bottom: 25px;
    }
    .cv {
        margin-left: 30px;
    }
    #iconCV {
        width: 70px;
        height: 70px;
    }
   
    .competences{
        height: auto;
    }
    .competencesLogo {
        height: 80px;
    }
    .logoWidth {
        height: 80px;
    }
    .frontEnd {
        border-right: none;
        border-bottom: solid 1px #cccccc;
    }
    #mobileMarg1 {
        margin-bottom: 15px;
    }
    #mobileMarg2 {
        margin-bottom: 15px;
    }
    #pdf {
        display: none;
    }
    .tel {
        margin-top: 10px;
    }
    .tel img {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .formMargin {
        margin-top: 20px;
    }
    
}
